.home-section{
    height: 150vh;
    background-image: url(../assets/bg-image.jpeg);
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    text-align: center;
    
}


/* response */
@media(max-width:980px) {

    .home-section {
        height: 200vh;
        width: 100%;

    }
}

@media(max-width:980px) {

    
}